# Your first join

countries database contains information about the most populous world cities and countries, and provides country-level economic data, population data, and geographic data. The database also contains information on languages spoken in each country.

You can see the different tables in this database to get a sense of what they contain by clicking on the corresponding tabs. Click through them and familiarize yourself with the fields that seem to be shared across tables before you continue with the course.

You'll use the cities and countries tables to build your first inner join. You'll start off by selecting all columns, performing your join, and then refining your query to choose specific columns.

```
-- Select name fields (with alias) and region 
SELECT cities.name AS city, countries.name AS country, region
FROM cities
INNER JOIN countries
ON cities.country_code = countries.code;
```

# Joining with aliased tables

instead of writing full table names in queries, you can use table aliasing as a shortcut. The alias can be used in other parts of your query, such as the SELECT statement!

You also learned that when you SELECT fields, a field can be ambiguous. For example, imagine two tables, apples and oranges, both containing a column called color. You need to use the syntax apples.color or oranges.color in your SELECT statement to point SQL to the correct table. Without this, you would get the following error:

  ```column reference "color" is ambiguous```
you'll practice joining with aliased tables. You'll use data from both the countries and economies tables to examine the inflation rate in 2010 and 2015. For this exercise, you will apply table aliases to some columns, but not all.

When writing joins, it's easier to write SQL code out of order: many SQL users prefer to write the SELECT statement after writing the JOIN.

```
-- Select fields with aliases
SELECT c.code AS country_code, name, year, inflation_rate 
FROM countries AS c
-- Join to economies (alias e)
INNER JOIN economies AS e
-- Match on code field using table aliases
ON c.code = e.code
```

# USING in action

when both the field names being joined ON are the same, you can take advantage of the USING clause.

You'll now explore the languages table from our database. Which languages are official languages, and which ones are unofficial?

```
SELECT c.name AS country, l.name AS language, official
FROM countries AS c
INNER JOIN languages AS l
-- Match using the code column
USING(code)
```

# Relationships in our database

 it's time to examine a few relationships in the countries database!

To answer questions about table relationships, you can explore the tables displayed as tabs in your console.

Which of these options best describes the relationship between the countries table and the cities table?
- This is a one-to-many relationship.

Which of these options best describes the relationship between the countries table and the languages table?
- This is a many-to-many relationship.

# Inspecting a relationship

You've just identified that the countries table has a many-to-many relationship with the languages table. That is, many languages can be spoken in a country, and a language can be spoken in many countries.

First, what is the best way to query all the different languages spoken in a country? And second, how is this different from the best way to query all the countries that speak each language?

```
-- Rearrange SELECT statement, keeping aliases
SELECT l.name AS language, c.name AS country
FROM countries AS c
INNER JOIN languages AS l
USING(code)
-- Order the results by language
ORDER BY language
```

# Joining multiple tables

you are interested in the relationship between fertility and unemployment rates. You will join tables to return the country name, year, fertility rate, and unemployment rate in a single result from the countries, populations and economies tables.

```
-- Select fields
SELECT c.name, e.year, fertility_rate, e.unemployment_rate
FROM countries AS c
INNER JOIN populations AS p
ON c.code = p.country_code
-- Join to economies (as e)
JOIN economies AS e
-- Match on country code
ON p.country_code = e.code ;
```

# Checking multi-table joins

Have a look at the results for Albania from the previous query below. You can see that the 2015 fertility_rate has been paired with 2010 unemployment_rate, and vice versa.
```
name	year	fertility_rate	unemployment_rate
Albania	2015	1.663	17.1
Albania	2010	1.663	14
Albania	2015	1.793	17.1
Albania	2010	1.793	14
```
Instead of four records, the query should return two: one for each year. The last join was performed on c.code = e.code, without also joining on year. fix your query by explicitly stating that both the country code and year should match!

```
SELECT name, e.year, fertility_rate, unemployment_rate
FROM countries AS c
INNER JOIN populations AS p
ON c.code = p.country_code
INNER JOIN economies AS e
ON c.code = e.code
-- Add an additional joining condition such that you are also joining on year
	AND p.year = e.year;
```