# UNION vs. UNION ALL

Two tables, languages and currencies, are provided. Run the queries provided

```
SELECT * 
FROM languages
UNION
SELECT * 
FROM currencies;
```

- There will be an SQL error, because languages and currencies do not have the same number of fields

```
SELECT code FROM
languages
UNION ALL
SELECT code FROM 
currencies;
```

- An unordered list of each country code in languages and currencies, including duplicates

```
SELECT code 
FROM languages
UNION
SELECT curr_id 
FROM currencies;
```

- A SQL error, because code and curr_id are not of the same data type

# Comparing global economies

you have two tables, economies2015 and economies2019, available to you under the tabs in the console. You'll perform a set operation to stack all records in these two tables on top of each other, excluding duplicates.

When drafting queries containing set operations, it is often helpful to write the queries on either side of the operation first, and then call the set operator. The instructions are ordered accordingly.

```
-- Select all fields from economies2015
SELECT *
FROM economies2015    
-- Set operation
UNION
-- Select all fields from economies2019
SELECT *
FROM economies2019 
ORDER BY code, year;
```

# Comparing two set operations

UNION ALL returns duplicates, whereas UNION does not. you will dive deeper into this, looking at cases for when UNION is appropriate compared to UNION ALL.

You will be looking at combinations of country code and year from the economies and populations tables.

NO DUPLICATES:
```
-- Query that determines all pairs of code and year from economies and populations, without duplicates
SELECT code, year
FROM economies
UNION
SELECT country_code, year
FROM populations
```

DUPLICATES:
```
SELECT code, year
FROM economies
-- Set theory clause
UNION ALL
SELECT country_code, year
FROM populations
ORDER BY code, year;
```

# INTERSECT

 you are interested in those countries that share names with cities.

```
-- Return all cities with the same name as a country
SELECT name
FROM cities
INTERSECT
SELECT name
FROM countries
```

# Review UNION and INTERSECT

Which of the following definitions of set operations is correct?
- `INTERSECT`: returns only records appearing in both tables

# You've got it, EXCEPT...

Just as you were able to leverage INTERSECT to find the names of cities with the same names as countries, you can also do the reverse, using EXCEPT.

You will find the names of cities that do not have the same names as their countries.

```
-- Return all cities that do not have the same name as a country
SELECT name
FROM cities
EXCEPT
SELECT name
FROM countries
ORDER BY name;
```

# Calling all set operators

Test your knowledge of set operators in SQL by classifying the below use cases into the correct buckets.
Think of how the information in each use case could be stored as tables, and recall the Venn diagrams

<img src="images/03.10.jpg" style="width:800px;height:300px;">