# Exploring the database

Explore the tables and its columns. Which of the following quantities can't be computed?

<center><img src="images/01.01.jpg"  style="width: 400px, height: 300px;"/></center>

- The number of movies with an international award.

# Exploring the table renting

The table renting includes all records of movie rentals. Each record has a unique ID `renting_id`. It also contains information about customers (`customer_id`) and which movies they watched (`movie_id`). Furthermore, customers can give a rating after watching the movie, and the day the movie was rented is recorded.

```
SELECT *  -- Select all
FROM renting;        -- From table renting
```

```
SELECT movie_id,  -- Select all columns needed to compute the average rating per movie
       rating
FROM renting;
```

In SQL missing values are coded with null. In which column of renting did you notice null values?

- `rating`

# Working with dates

For the analysis of monthly or annual changes, it is important to select data from specific time periods. You will select records from the table `renting` of movie rentals. The format of dates is 'YYYY-MM-DD'.

```
SELECT *
FROM renting
WHERE date_renting = '2018-10-09'; -- Movies rented on October 9th, 2018
```

```
SELECT *
FROM renting
WHERE date_renting BETWEEN '2018-04-01' AND '2018-08-31'; -- from beginning April 2018 to end August 2018
```

```
SELECT *
FROM renting
WHERE date_renting BETWEEN '2018-04-01' AND '2018-08-31'
ORDER BY date_renting DESC; -- Order by recency in decreasing order
```

# Selecting movies

The table `movies` contains all movies available on the online platform.

```
SELECT *
FROM movies
WHERE genre <> 'Drama'; -- All genres except drama
```

```
SELECT *
FROM movies
WHERE title IN ('Showtime', 'Love Actually' , 'The Fighter'); -- Select all movies with the given titles
```

```
SELECT *
FROM movies
ORDER BY  renting_price; -- Order the movies by increasing renting price
```

# Select from renting

Only some users give a rating after watching a movie. Sometimes it is interesting to explore only those movie rentals where a rating was provided.

```
SELECT *
FROM renting
WHERE date_renting BETWEEN '2018-01-01' AND '2018-12-31' -- Renting in 2018
AND rating IS NOT NULL; -- Rating exists
```

# Summarizing customer information

In most business decisions customers are analyzed in groups, such as customers per country or customers per age group.

```
SELECT COUNT(*) -- Count the total number of customers
FROM customers
WHERE date_of_birth BETWEEN '1980-01-01' AND '1989-12-31'; -- Select customers born between 1980-01-01 and 1989-12-31
```

```
SELECT COUNT(*)   -- Count the total number of customers
FROM customers
WHERE country = 'Germany'; -- Select all customers from Germany
```

```
SELECT COUNT(DISTINCT country )   -- Count the number of countries
FROM customers;
```

# Ratings of movie 25

The movie ratings give us insight into the preferences of our customers. Report summary statistics, such as the minimum, maximum, average, and count, of ratings for the movie with ID 25.

```
SELECT MIN(rating) min_rating, -- Calculate the minimum rating and use alias min_rating
	   MAX(rating) max_rating, -- Calculate the maximum rating and use alias max_rating
	   AVG(rating) avg_rating, -- Calculate the average rating and use alias avg_rating
	   COUNT(rating) number_ratings -- Count the number of ratings and use alias number_ratings
FROM renting
WHERE movie_id = 25; -- Select all records of the movie with ID 25
```

# Examining annual rentals

You are asked to provide a report about the development of the company. Specifically, your manager is interested in the total number of movie rentals, the total number of ratings and the average rating of all movies since the beginning of 2019.

```
SELECT * -- Select all records of movie rentals since January 1st 2019
 FROM renting
WHERE date_renting >= '2019-01-01'; 
```

```
SELECT 
	COUNT(*), -- Count the total number of rented movies
	AVG(rating) -- Add the average rating
FROM renting
WHERE date_renting >= '2019-01-01';
```

```
SELECT 
	COUNT(*) number_renting, -- Give it the column name number_renting
	AVG(rating) average_rating  -- Give it the column name average_rating
FROM renting
WHERE date_renting >= '2019-01-01';
```

```
SELECT 
	COUNT(*) AS number_renting,
	AVG(rating) AS average_rating, 
    COUNT(rating) AS number_ratings -- Add the total number of ratings here.
FROM renting
WHERE date_renting >= '2019-01-01';
```