# Attributes of relational databases

Which of the following statements are true for databases? Relational databases …

- store different real-world entities in different tables.
- allow to establish relationships between entities.
- use constraints, keys and referential integrity in order to assure data quality.

# Query information_schema with `SELECT`

`information_schema` is a meta-database that holds information about your current database. information_schema has multiple tables you can query with the known `SELECT * FROM` syntax:

- tables: information about all tables in your current database
- columns: information about all columns in all of the tables in your current database
- …

you'll only need information from the 'public' schema, which is specified as the column table_schema of the tables and columns tables. The 'public' schema holds information about user-defined tables and databases. The other types of table_schema hold system information

```
-- Query the right table in information_schema
SELECT table_name 
FROM information_schema.tables
-- Specify the correct table_schema value
WHERE table_schema = 'public';
```

```
-- Query the right table in information_schema to get columns
SELECT column_name, data_type 
FROM information_schema.columns 
WHERE table_name = 'university_professors' AND table_schema = 'public';
```

```
SELECT * 
FROM university_professors 
LIMIT 5;
```

# CREATE your first few TABLEs

you'll create tables for the professors and universities entity types. The other tables will be created for you.

```
-- Create a table for the professors entity type
CREATE TABLE professors (
 firstname text,
 lastname text
);

-- Print the contents of this table
SELECT * 
FROM professors
```

```
-- Create a table for the universities entity type
CREATE TABLE universities
(
    university_shortname text,
    university text,
    university_city text
);


-- Print the contents of this table
SELECT * 
FROM universities
```

# ADD a COLUMN with ALTER TABLE

We forgot to add the university_shortname column to the professors table.

```
-- Add the university_shortname column
ALTER TABLE professors
ADD COLUMN university_shortname text ;

-- Print the contents of this table
SELECT * 
FROM professors
```

# RENAME and DROP COLUMNs in affiliations

The still empty affiliations table has some flaws. In this exercise, you'll correct them

```
-- Rename the organisation column
ALTER TABLE affiliations
RENAME COLUMN organisation TO organization;

-- Delete the university_shortname column
ALTER TABLE affiliations
DROP COLUMN university_shortname;
```

# Migrate data with INSERT INTO SELECT DISTINCT

Now it's finally time to migrate the data into the new tables.

```
-- Insert unique professors into the new table
INSERT INTO professors 
SELECT DISTINCT firstname, lastname, university_shortname 
FROM university_professors;

-- Doublecheck the contents of professors
SELECT * 
FROM professors;
```

```
-- Insert unique affiliations into the new table
INSERT INTO affiliations 
SELECT DISTINCT firstname, lastname, function, organization 
FROM university_professors;

-- Doublecheck the contents of affiliations
SELECT * 
FROM affiliations;
```

# Delete tables with DROP TABLE

The `university_professors` table is now no longer needed and can safely be deleted.

```
-- Delete the university_professors table
DROP TABLE university_professors;
```