# Types of database constraints

Which of the following are used to enforce a database constraint?
- Primary keys
- Foreign keys
- The BIGINT data type

# Conforming with data types

I created a fictional database table that only holds three records. The columns have the data types date, integer, and text, respectively.

```
CREATE TABLE transactions (
 transaction_date date, 
 amount integer,
 fee text
);
```

```
-- Let's add a record to the table
INSERT INTO transactions (transaction_date, amount, fee) 
VALUES ('2018-09-24', 5454, '30');

-- Doublecheck the contents
SELECT *
FROM transactions;
```

# Type CASTs

 type casts are a possible solution for data type issues. If you know that a certain column stores numbers as text, you can cast the column to a numeric form, i.e. to integer.

```
-- Calculate the net amount as amount + fee
SELECT transaction_date, amount + CAST(fee AS INTEGER) AS net_amount 
FROM transactions;
```

# Change types with ALTER COLUMN

Now it's time to start adding constraints to your database.

```
-- Select the university_shortname column
SELECT DISTINCT(university_shortname) 
FROM professors;
```

```
-- Specify the correct fixed-length character type
ALTER TABLE professors
ALTER COLUMN university_shortname
TYPE CHAR(3);
```

```
-- Change the type of firstname
ALTER TABLE professors
ALTER COLUMN firstname
TYPE VARCHAR(64);
```

# Convert types USING a function

If you don't want to reserve too much space for a certain varchar column, you can truncate the values before converting its type.

```
-- Convert the values in firstname to a max. of 16 characters
ALTER TABLE professors 
ALTER COLUMN firstname 
TYPE varchar(16)
USING SUBSTRING(firstname FROM 1 FOR 16)
```

# Disallow NULL values with SET NOT NULL

The professors table is almost ready now. However, it still allows for NULLs to be entered. Although some information might be missing about some professors, there's certainly columns that always need to be specified.

```
-- Disallow NULL values in firstname
ALTER TABLE professors 
ALTER COLUMN firstname SET NOT NULL;
```

```
-- Disallow NULL values in lastname
ALTER TABLE professors
ALTER COLUMN lastname
SET NOT NULL
```

# What happens if you try to enter NULLs?

Database constraint is violated:

```
null value in column "firstname" of relation "professors" violates not-null constraint
DETAIL:  Failing row contains (null, Miller, ETH).
```

# Make your columns UNIQUE with ADD CONSTRAINT

This is different from the ALTER COLUMN syntax for the not-null constraint. Also, you have to give the constraint a name `some_name`. However, this is a pattern that is frequently used

```
-- Make universities.university_shortname unique
ALTER TABLE universities
ADD CONSTRAINT university_shortname_unq UNIQUE(university_shortname);
```

```
-- Make organizations.organization unique
ALTER TABLE organizations
ADD CONSTRAINT organization_unq UNIQUE(organization)
```