# Review the essentials

In this exercise you must prepare the data you need (`title` & `description`) to run a promotion for the store's `Italian` & `French` language films from 2005.

To practice the essentials you will prepare this query one step at a time.

```
SELECT title, description
FROM film AS f
INNER JOIN language AS l
  ON f.language_id = l.language_id
WHERE name IN ('Italian', 'French')
  AND release_year = 2005 ;
```

# Practice the essentials

In this exercise you are preparing list of your top paying `active` customers. The data you will need are the names of the customer sorted by the `amount` they paid.

```
SELECT first_name,
	   last_name,
       amount
FROM payment AS p
INNER JOIN customer AS c
  ON p.customer_id = c.customer_id
WHERE active = true
ORDER BY amount DESC ;
```

# Transform numeric & strings

For this exercise you are planning to run a 50% off promotion for films released prior to 2006. To prepare for this promotion you will need to return the films that qualify for this promotion, to make these titles easier to read you will convert them all to lower case. You will also need to return both the `original_rate` and the `sale_rate`.

```
SELECT LOWER(title) AS title, 
  rental_rate AS original_rate, 
  rental_rate * 0.5 AS sale_rate 
FROM film
-- Filter for films prior to 2006
WHERE release_year < 2006;
```

# Extract what you need

In this exercise you will practice preparing date/time elements by using the `EXTRACT()` function.

```
SELECT payment_date,
  EXTRACT('DAY' FROM payment_date ) AS payment_day 
FROM payment;

```

```
SELECT payment_date,
  EXTRACT('YEAR' FROM payment_date) AS payment_year 
FROM payment;
```

```
SELECT payment_date,
  EXTRACT('HOUR' FROM payment_date) AS payment_hour 
FROM payment;
```

# Aggregating finances

In this exercise you would like to learn more about the differences in payments between the customers who are active and those who are not.

```
SELECT active, 
       COUNT(payment_id) AS num_transactions, 
       AVG(amount) AS avg_amount, 
       SUM(amount) AS total_amount
FROM payment AS p
INNER JOIN customer AS c
  ON p.customer_id = c.customer_id
GROUP BY active;
```

# Aggregating strings

You are planning to update your storefront window to demonstrate how family-friendly and multi-lingual your DVD collection is. To prepare for this you need to prepare a comma-separated list G-rated film titles by language released in 2010.

```
SELECT name, 
	STRING_AGG(title ,',') AS film_titles
FROM film AS f
INNER JOIN language AS l
  ON f.language_id = l.language_id
WHERE release_year = 2010
  AND rating = 'G'
GROUP BY name;
```

# Which tables?

You must answer the following question using a query:

Which films are most frequently rented?

Which of these table(s) do you need to prepare the query to answer this question?
```
Tables	
actor	    film_actor
address	    inventory
category    language
customer    payment
film	    rental
```

- I need to explore my database to find the data I'm looking for!