# Storing new data

You're planing to run a promotion on movies that won a best film academy award in the last 5 years. To do this you need to add a table in your database containing the movies which won an Oscar for best film.

The data you need for this exercise is provided in the table below:
```
title                        award
'TRANSLATION SUMMER'        'Best Film'
'DORADO NOTTING'            'Best Film'
'MARS ROMAN'                'Best Film'
'CUPBOARD SINNERS'          'Best Film'
'LONELY ELEPHANT'           'Best Film'
````

```
-- Create a new table called oscars
CREATE TABLE oscars (
    title VARCHAR,
    award VARCHAR
);

-- Insert the data into the oscars table
INSERT INTO oscars (title, award)
VALUES
('TRANSLATION SUMMER', 'Best Film'),
('DORADO NOTTING', 'Best Film'),
('MARS ROMAN', 'Best Film'),
('CUPBOARD SINNERS', 'Best Film'),
('LONELY ELEPHANT', 'Best Film');

-- Confirm the table was created and is populated
SELECT * 
FROM oscars;
```

# Using existing data

You are interested in identifying and storing information about films that are family-friendly. To do this, you will create a new table `family_films` using the data from the `film` table. This new table will contain a subset of films that have either the rating `G` or `PG`.

```
-- Create a new table named family_films using this query
CREATE TABLE family_films AS
SELECT *
FROM film
WHERE rating IN ('G', 'PG');
```

# TABLE vs VIEW

Which of these statements are correct?
- To modify the data in a VIEW you need to change the data in the tables the VIEW relies on.

# What should you modify?

When working with databases in a business setting, it is best to ensure that any modification you make to a database does not negatively impact any users or processes that depend on it.

With that in mind, which of these precautions should you take when modifying data?

- Ensure that you have access to modify the table.
- Ensure the records you want to modify are the right ones by running a SELECT query first.

# Update the price of rentals

You just learned that there have been some updates for the rental pricing of your films. In this exercise you will leverage the `UPDATE` command to modify the rental prices by increasing the `rental_rate` with the following logic.

- All films now cost 50 cents more to rent.
- R Rated films will go up by an additional 1 dollar.

```
-- Increase rental_rate by 0.5 in the film table
UPDATE film
SET rental_rate = rental_rate+0.5;
```

```
-- Increase rental_rate by one dollar for R-rated movies
UPDATE film
SET rental_rate = rental_rate + 1
WHERE rating = 'R'
```

# Updated based on other tables

The rental company is running a promotion and needs you to lower the rental costs by 1 dollar of films who star the actors/actresses with the following last names: WILLIS, CHASE, WINSLET, GUINESS, HUDSON.

To `UPDATE` this data in the `film` table you will need to identify the `film_id` for these actors.

```
UPDATE  film
SET rental_rate = rental_rate-1
WHERE film_id IN
  (SELECT film_id from actor AS a
   INNER JOIN film_actor AS f
      ON a.actor_id = f.actor_id
   WHERE last_name IN ('WILLIS', 'CHASE', 'WINSLET', 'GUINESS', 'HUDSON'));
```

# Deleting all table data

A) `DROP TABLE film;`

B) `TRUNCATE TABLE film;`

C) `DELETE FROM film;`

Which of the statements about the above commands are TRUE?

- A removes the film table from the database; B & C remove all records from the film table.

# Delete selected records

You've discovered that some films are just not worth keeping your inventory, for cases where the `replacement_cost` is greater than 25 dollars. As such you'd like to remove them from you `film` table.

```
-- Delete films that cost most than 25 dollars
DELETE
FROM film
WHERE replacement_cost > 25
```

# A family friendly video store

Your company has decided to become a family friendly store. As such, all R & NC-17 movies will be cleared from the inventory. You will take the steps necessary to clear these films from both the `inventory` and the `film` tables.

```
-- Identify the film_id of all films that have a rating of R or NC-17
SELECT film_id
FROM film
WHERE rating IN ('R' , 'NC-17');
```

```
-- Use the list of film_id values to DELETE all R & NC-17 rated films from inventory.
DELETE FROM inventory
WHERE film_id IN (
  SELECT film_id FROM film
  WHERE rating IN ('R', 'NC-17')
);

-- Delete records from the `film` table that are either rated as R or NC-17.
DELETE FROM film
  WHERE rating IN ('R', 'NC-17');
```