# How to convey our intent

Which of these approaches can you leverage to clarify the intent of your SQL script?

- Use comments when the approach can't be conveyed with just the code.

# Clarify the intent of this query

What can you do to improve this query with respect to conveying it's intent for future readers?
```
SELECT x1.customer_id, x1.rental_date, x1.return_date 
FROM rental x1
JOIN inventory x2
    ON x1.inventory_id = x2.inventory_id
JOIN film x3
    ON x2.film_id = x3.film_id
WHERE x3.length < 90;
```


- Use aliases that help clarify the table source (e.g. `x1` -> `r` or `ren`).
- Ensure that all aliases commands use `AS`.
- Clarify the type of `JOIN` being used by using `INNER JOIN` instead.
- Add a comment to clarify that the inventory table is used to unite the `rental` and `film` tables.

# Fix this query - intent

Using the four opportunities you've identified you will now clarify the intent of this query, one step at a time.
```
SELECT x1.customer_id, x1.rental_date, x1.return_date 
FROM rental x1
JOIN inventory x2
    ON x1.inventory_id = x2.inventory_id
JOIN film x3
    ON x2.film_id = x3.film_id
WHERE x3.length < 90;
```

```
SELECT r.customer_id, r.rental_date, r.return_date 
FROM rental AS r
/* INNER JOIN rental table with inventory table */ 
INNER JOIN inventory AS i
  ON r.inventory_id = i.inventory_id
INNER JOIN film AS f
  ON i.film_id = f.film_id
WHERE f.length < 90;
```

# How to make code easier to read

Which of these strategies can be used to make SQL scripts easier to read?

- Use Snake-Case for column and table names.
- Always use `IN` instead of `OR` whenever possible.
- Use lowercase text for all text in your query other than keywords.

# Make this query easier to read - Part I

In this exercise you will work on making the query below easier to read.
```
SELECT title, rating FROM film 
WHERE rating = 'G' OR rating = 'PG' OR rating = 'R';
```

```
SELECT 
    title, 
    rating 
FROM film 
WHERE rating IN ('G', 'PG', 'R');
```

# Make this query easier to read - Part II

In this exercise you will work on making the query below easier to read.
```
select 
  category as FILMCATEGORY, 
  avg(length) as AverageLength
from film as f
inner join category as c
  on f.film_id = c.film_id
where release_year >= 2005
  and release_year <= 2010
group by category;
```

```
SELECT 
  category AS film_category, 
  AVG(length) AS average_length 
FROM film AS f
INNER JOIN category AS c
  ON f.film_id = c.film_id
WHERE release_year BETWEEN 2005 AND 2010
GROUP BY category;
```

# What are the don'ts of writing SQL code?

Which of these practices should you avoid when writing SQL queries?


- Writing comments that are redundant with the code.
- Selecting every column in your query instead of only the ones you need.
- Using Loops in SQL.

# Apply best practices to your code

In this exercise you will update the code below to adhere to the best practices you learned in this chapter.
```
SELECT first_name, last_name, email FROM rental AS r 
-- FROM address AS a JOIN r.address_id = a.address_id
JOIN customer AS c ON r.customer_id = c.customer_id;
```

```
SELECT first_name, 
       last_name, 
       email 
FROM rental AS r 
INNER JOIN customer AS c 
   ON r.customer_id = c.customer_id;
```