# Working with different types of data

The examples in this course are based on a data set about chocolate ratings (one of the most commonly consumed candies in the world).

This data set contains

- The `ratings` table: information about chocolate bars: the origin of the beans, percentage of cocoa and the rating of each bar.
- The `voters` table: details about the people who participate in the voting process. It contains personal information of a voter: first and last name, email address, gender, country, the first time they voted and the total number of votes.

In this exercise, you will take a look at different types of data.

```
SELECT 
	company, 
	company_location, 
	bean_origin, 
	cocoa_percent, 
	rating
FROM ratings
-- Location should be Belgium and the rating should exceed 3.5
WHERE company_location = 'Belgium'
	AND rating > 3.5;
```

```
SELECT 
	first_name,
	last_name,
	birthdate,
	gender,
	email,
	country,
	total_votes
FROM voters
-- Birthdate > 1990-01-01, total_votes > 100 but < 200
WHERE birthdate > '1990-01-01'
  AND total_votes > 100
  AND total_votes < 200;
```

# Storing dates in a database

In this exercise, you will practice your knowledge of the different data types you can use in SQL Server. You will add more columns to the voters table and decide which is the most appropriate data type for each of them.

The syntax for adding a new column in a table is the following:
```
ALTER TABLE table_name
ADD column_name data_type
```
Remember, the most common date/time data types are:

- `date`
- `time`
- `datetime`
- `datetime2`
- `smalldatetime`.

```
ALTER TABLE voters
ADD last_vote_date date;

```

```
ALTER TABLE voters
ADD last_vote_time time;
```

```
ALTER TABLE voters
ADD last_login datetime2;
```

# Types of character strings

To what data category does the `nvarchar` type belong?
- Unicode character strings

# Implicit conversion between data types

This is what you need to remember about implicit conversion:

- For comparing two values in SQL Server, they need to have the same data type.
- If the data types are different, SQL Server implicitly converts one type to another, based on data type precedence.
- The data type with the lower precedence is converted to the data type with the higher precedence.

In this exercise, you are going to test if explicit conversion works between a numeric type and a character. use information from the conversion table, where the implicit and explicit conversions between all data types are presented. You are going to try an implicit conversion between two different data types.

For this, you will use the `voters` table and will compare the `total_votes` numeric column with a character.

```
SELECT 
	first_name,
	last_name,     
	total_votes
FROM voters
WHERE total_votes > '120'
```

What kind of implicit conversion is performed by SQL Server to make this query execute successfully?
- The character '120' is converted to a numeric type.

# Data type precedence

In this exercise, you will evaluate the rating information from the `ratings` table and you will see what happens when a decimal value is compared to an integer. Remember: in SQL Server, data is implicitly converted behind the scenes from one type to another, in such a way that no data loss occurs.

```
SELECT 
	bean_type,
	rating
FROM ratings
WHERE rating > 3;
```

Taking into account that the rating column is a decimal, which statement is true about the execution of this query?
- The integer value is converted to decimal because decimal has higher precedence than int.

# CASTing data

It happens often to need data in a certain type or format and to find that it's stored differently. For example:

Integrating data from multiple sources, having different data types, into a single one
Abstract data should be more readable (i.e. True/False instead of 1/0) Luckily, you don't need to make any changes in the data itself. You can use functions for explicitly converting to the data type you need (using `CAST()` and `CONVERT()`).
You are now going to explicitly convert data using the `CAST()` function. Remember the syntax:

`CAST(expression AS data_type [(length)])`

```
SELECT 
	-- Transform the year part from the birthdate to a string
	first_name + ' ' + last_name + ' was born in ' + CAST(YEAR(birthdate) AS nvarchar) + '.' 
FROM voters;
```

```
SELECT 
	-- Transform to int the division of total_votes to 5.5
	CAST(total_votes/5.5 AS INT) AS DividedVotes
FROM voters;
```

```
SELECT 
	first_name,
	last_name,
	total_votes
FROM voters
-- Transform the total_votes to char of length 10
WHERE CAST(total_votes AS CHAR(10)) LIKE '5%';
```

# CONVERTing data

Another important function similar to `CAST()` is `CONVERT()`. They are very similar in functionality, with the exception that with `CONVERT()` you can use a style parameter for changing the aspect of a date. Also, `CONVERT()` is SQL Server specific, so its performance is slightly better than `CAST()`. Nonetheless, it's important to know how to use both of them.

In this exercise, you are going to enhance your knowledge of the `CONVERT()` function.

```
SELECT 
	email,
    -- Convert birthdate to varchar show it like: "Mon dd,yyyy" 
    CONVERT(varchar, birthdate, 107) AS birthdate
FROM voters;
```

```
SELECT 
	company,
    bean_origin,
    -- Convert the rating column to an integer
    CONVERT(INT, rating) AS rating
FROM ratings;
```

```
SELECT 
	company,
    bean_origin,
    rating
FROM ratings
-- Convert the rating to an integer before comparison
WHERE CONVERT(INT,rating) = 3;
```

# Working with the correct data types

Itâ€™s now time to practice your understanding of various data types in SQL Server and how to convert them from one type to another. In this exercise, you will query the `voters` table. Remember that this table holds information about the people who provided ratings for the different chocolate flavors.

You are going to write a query that returns information (first name, last name, gender, country, number of times they voted) about the female voters from Belgium, who voted more than 20 times.

You will work with columns of different data types and perform both implicit and explicit conversions between different types of data (using `CAST()` and `CONVERT()` functions).

It sounds like a big query, but we will take it step-by-step and you will see the results in no time!

```
SELECT 
	first_name,
    last_name,
	-- Convert birthdate to varchar(10) and show it as yy/mm/dd. This format corresponds to value 11 of the "style" parameter.
	CONVERT(varchar(10), birthdate, 11) AS birthdate,
    gender,
    country
FROM voters
WHERE country = 'Belgium' 
    -- Select only the female voters
	AND gender = 'F'
    -- Select only people who voted more than 20 times  
    AND total_votes > 20;
```

```
SELECT
	first_name,
    last_name,
	-- Convert birthdate to varchar(10) to show it as yy/mm/dd
	CONVERT(varchar(10), birthdate, 11) AS birthdate,
    gender,
    country,
    -- Convert the total_votes number to nvarchar
    'Voted ' + CAST(total_votes AS nvarchar) + ' times.' AS comments
FROM voters
WHERE country = 'Belgium'
    -- Select only the female voters
	AND gender = 'F'
    -- Select only people who voted more than 20 times
    AND total_votes > 20;
```