# SQL strengths

Which of the below scenarios describes a situation in which using SQL would be useful?

- Large amounts of data about many different but related areas of a business are housed in a relational database.

# Developing SQL style

 it's important to pay attention to the formatting of SQL queries in order to make them readable. This is especially helpful as you learn more keywords and your queries get longer.

In this exercise, you'll review the below query about the patrons table. This code will run properly, but it is messy and hard to read. Your task is to determine which edits are appropriate to improve the query so that it follows best practices for SQL style.
```
SELECT CARD_NUM, TOTAL_FINE 
from patrons
```
Here's a reminder about what the patrons table looks like :
<img src="images/02.03.png" style="width:800px;height:300px;">

<img src="images/02.032.jpg" style="width:800px;height:300px;">

# Querying the books table

SELECT is used to choose the fields that will be included in the result set, while FROM is used to pick the table in which the fields are listed.

Select fields from books.

<img src="images/02.04.png" style="width:300px;height:200px;">

```
-- Return all titles from the books table
SELECT title
FROM books
```

```
-- Select title and author from the books table
SELECT title, author
FROM books;
```

```
-- Select all fields from the books table
SELECT *
FROM books;
```

# Making queries DISTINCT

DISTINCT keyword can be used to return unique values in a field. In this exercise, you'll use this understanding to find out more about the books table!

There are 350 books in the books table, representing all of the books that our local library has available for checkout. But how many different authors are represented in these 350 books? The answer is surely less than 350. For example, J.K. Rowling wrote all seven Harry Potter books, so if our library has all Harry Potter books, seven books will be written by J.K Rowling. There are likely many more repeat authors!

```
-- Select unique authors from the books table
SELECT DISTINCT author
FROM books
```

```
-- Select unique authors and genre combinations from the books table
SELECT DISTINCT author,genre
FROM books;
```

# Aliasing

While the default column names in a SQL result set come from the fields they are created from, you've learned that aliasing can be used to rename these result set columns. This can be helpful for clarifying the intent or contents of the column.

Incorporate an alias into one of the SQL queries!

```
-- Alias author so that it becomes unique_author
SELECT DISTINCT author AS unique_author
FROM books;
```

# VIEWing your query

There is an SQL query:
```
SELECT DISTINCT author AS unique_author
FROM books;
```
What if you'd like to be able to refer to it later, or allow others to access and use the results? The best way to do this is by creating a view. Recall that a view is a virtual table: it's very similar to a real table, but rather than the data itself being stored, the query code is stored for later use.

```
-- Your code to create the view:
CREATE VIEW library_authors AS
SELECT DISTINCT author AS unique_author
FROM books;

-- Select all columns from library_authors
SELECT * FROM library_authors
```

# Comparing flavors

 SQL Server and PostgreSQL are just two of many relational database systems available, but the differences are fairly representative of the types of differences you'll see between other SQL database systems and flavors as well.

<img src="images/02.10.jpg" style="width:700px;height:300px;">

# Limiting results

Limiting results is useful when testing code since result sets can have thousands of results! Queries are often written with a LIMIT of just a few records to test out code before selecting thousands of results from the database.

Let's practice with LIMIT!

```
-- Select the first 10 genres from books using PostgreSQL
SELECT genre
FROM books
LIMIT 10
```

# Translating between flavors

You wrote the following code using PostgreSQL:
```
SELECT genre
FROM books
LIMIT 10;
```
The database in this course is a PostgreSQL database, so you won't be able to run SQL Server code in any of the exercises. What if you did want to update the above query to work with SQL Server, though? How would you do that?

- Replace `LIMIT` with `TOP`