# Learning to COUNT()

Here is a query counting film_id. Select the answer below that correctly describes what the query will return.

```
SELECT COUNT(film_id) AS count_film_id
FROM reviews;
```

- The number of records containing a film_id.

# Practice with COUNT()

COUNT(*) tells you how many records are in a table. However, if you want to count the number of non-missing values in a particular field, you can call COUNT() on just that field

```
-- Count the number of records in the people table
SELECT COUNT(*) AS count_records
FROM   people 
```

```
-- Count the number of birthdates in the people table
SELECT COUNT(birthdate) AS count_birthdate
FROM  people 
```

```
-- Count the languages and countries represented in the films table
-- Count the number of birthdates in the people table
SELECT COUNT(language) AS count_languages, COUNT(country) AS count_countries
FROM  films 
```

# SELECT DISTINCT

Often query results will include many duplicate values. You can use the DISTINCT keyword to select the unique values from a field.

```
-- Return the unique countries from the films table
SELECT DISTINCT(country)
FROM films
```

```
-- Count the distinct countries from the films table
SELECT COUNT(DISTINCT(country)) AS count_distinct_countries
FROM films
```

# Order of execution

SQL code is processed differently than other programming languages in that you need to let the processor know where to pull the data from before making selections.

It's essential to know your code's order of execution to understand what results you'll get from your query and how to fix any errors that may come up.

<img src="images/01.06.jpg" style="width:700px;height:300px;">

# Debugging errors

Debugging is an essential skill for all coders, and it comes from making many mistakes and learning from them.

```
-- Debug this code
SELECT certification
FROM films
LIMIT 5;
```

```
-- Debug this code
SELECT film_id, imdb_score, num_votes
FROM reviews;
```

```
-- Debug this code
SELECT COUNT(birthdate) AS count_birthdays
FROM people;
```

# SQL best practices

SQL style guides outline standard best practices for writing code.

<img src="images/01.09.jpg" style="width:700px;height:300px;">

# Formatting

Readable code is highly valued in the coding community and professional settings. Without proper formatting, code and results can be difficult to interpret. You'll often be working with other people that need to understand your code or be able to explain your results, so having a solid formatting habit is essential.

```
-- Rewrite this query
SELECT person_id, role 
FROM roles 
LIMIT 10;
```

# Non-standard fields

You may occasionally receive a dataset with poorly named fields. Ideally, you would fix these, but you can work around it with some added punctuation in this instance.

A sample query and schema have been provided; imagine you need to be able to run it with a non-standard field name. Select the multiple-choice answer that would correctly fill in the blank to return both a film's id and its number of Facebook likes for all reviews:
```
SELECT film_id, ___
FROM reviews;
```
<img src="images/01.11.jpg" style="width:300px;height:300px;">

- `"facebook likes"`