# Filtering results

The WHERE clause allows you to filter based on text and numeric values in a table using comparison operators.

What does the following query return?
```
SELECT title
FROM films
WHERE release_year > 2000;
```

- Films released after the year 2000

# Using WHERE with numbers

Filtering with WHERE allows you to analyze your data better. You may have a dataset that includes a range of different movies, and you need to do a case study on the most notable films with the biggest budgets. In this case, you'll want to filter your data to a specific budget range.

```
-- Select film_ids and imdb_score with an imdb_score over 7.0
SELECT film_id, imdb_score 
FROM reviews
WHERE imdb_score > 7.0
```

```
-- Select film_ids and facebook_likes for ten records with less than 1000 likes 
SELECT film_id, facebook_likes 
FROM reviews
WHERE facebook_likes < 1000
LIMIT 10
```

```
-- Count the records with at least 100,000 votes
SELECT COUNT(num_votes) AS films_over_100K_votes 
FROM reviews
WHERE num_votes >=  100000
```

# Using WHERE with text

WHERE can also filter string values.
you are part of an organization that gives cinematography awards, and you have several international categories. Before you confirm an award for every language listed in your dataset, it may be worth seeing if there are enough films of a specific language to make it a fair competition. If there is only one movie or a significant skew, it may be worth considering a different way of giving international awards.

```
-- Count the Spanish-language films
SELECT COUNT(language) AS count_spanish
FROM films
WHERE language = 'Spanish'
```

# Using AND

The following exercises combine AND and OR with the WHERE clause. Using these operators together strengthens your queries and analyses of data.

```
-- Select the title and release_year for all German-language films released before 2000
SELECT title, release_year
FROM films
WHERE language = 'German' AND release_year < 2000
```

```
-- Update the query to see all German-language films released after 2000
SELECT title, release_year
FROM films
WHERE release_year > 2000
	AND language = 'German';
```

```
-- Select all records for German-language films released after 2000 and before 2010
SELECT *
FROM films
WHERE release_year > 2000 AND release_year < 2010 AND language = 'German';
```

# Using OR

you'll write a query to get the title and release_year of films released in 1990 or 1999, which were in English or Spanish and took in more than $2,000,000 gross.

```
SELECT title, release_year
FROM films
-- Find the title and year of films from the 1990 or 1999
WHERE (release_year = 1990 OR release_year = 1999)
-- Add a filter to see only English or Spanish-language films
	AND (language = 'English' OR language = 'Spanish')
-- Filter films with more than $2,000,000 gross
	AND gross > 2000000;
```

# Using BETWEEN

Let's use BETWEEN with AND on the films database to get the title and release_year of all Spanish-language films released between 1990 and 2000 (inclusive) with budgets over $100 million.

```
-- Select the title and release_year for films released between 1990 and 2000
SELECT title, release_year
FROM films
WHERE release_year BETWEEN 1990 AND 2000
-- Narrow down your query to films with budgets > $100 million
	AND budget > 100000000
-- Amend the query to include Spanish or French-language films
	AND (language = 'Spanish' OR language = 'French');
```

# LIKE and NOT LIKE

The LIKE and NOT LIKE operators can be used to find records that either match or do not match a specified pattern, respectively. They can be coupled with the wildcards % and _. The % will match zero or many characters, and _ will match a single character.

This is useful when you want to filter text, but not to an exact word.

```
-- Select the names that start with B
SELECT name
FROM people  
WHERE name LIKE 'B%'
```

```
SELECT name
FROM people
-- Select the names that have r as the second letter
WHERE name LIKE '_r%'
```

```
SELECT name
FROM people
-- Select names that don't start with A
WHERE name NOT LIKE 'A%'
```

# WHERE IN

you can query multiple conditions using the IN operator and a set of parentheses. It is a valuable piece of code that helps us keep our queries clean and concise.

```
-- Find the title and release_year for all films over two hours in length released in 1990 and 2000
SELECT title, release_year
FROM films
WHERE release_year IN (1990, 2000) AND duration > 120
```

```
-- Find the title and language of all films in English, Spanish, and French

SELECT title, language
FROM films
WHERE language IN ('French', 'English', 'Spanish') 
```

```
-- Find the title, certification, and language all films certified NC-17 or R that are in English, Italian, or Greek

SELECT title, certification, language
FROM films
WHERE language IN ('Italian', 'English', 'Greek') AND certification IN ('NC-17', 'R')
```

# Combining filtering and selecting

you will try to use some of these together. Writing more complex queries will be standard for you as you become a qualified SQL programmer.

```
-- Count the unique titles
SELECT COUNT(DISTINCT title) AS nineties_english_films_for_teens
FROM films
-- Filter to release_years to between 1990 and 1999
WHERE release_year BETWEEN 1990 AND 1999
-- Filter to English-language films
	AND language = 'English'
-- Narrow it down to G, PG, and PG-13 certifications
	AND certification IN ( 'G', 'PG', 'PG-13') ;
```

# What does NULL mean?

What does NULL represent?
- A missing value

# Practice with NULLs

Let's explore the films table again to better understand what data you have.

```
-- List all film titles with missing budgets
SELECT title AS no_budget_info
FROM films
WHERE budget IS NULL
```

```
-- Count the number of films we have language data for
SELECT COUNT(*) AS count_language_known
FROM films
WHERE language IS NOT NULL
```